
<div class="sections index">
 <h2>sections </h2></br>

  <%= link_to "Add New section", new_section_path %>
  

  <div><%= pluralize(@sections.size, 'section') %> found</div>
  <table class="listing" summary="section list">
    <tr class="header">
      <th>Position </th>
      <th>section</th>
      <th>Visible</th>
      <th>Actions</th>
    </tr>
    <% @sections.each do |section| %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td><%= section.position %></td>
      <td><%= section.name %></td>
      <td class="center"><%= status_tag(section.visible) %></td>
      <td class="actions">
        <%= link_to("View sections", {:controller => 'sections', :section_id => section.id}, :class => 'action show') %>
        <%= link_to("Show", section_path(section), :class => 'action show') %>
        <%= link_to("Edit", {:action => 'edit', :id => section.id}, :class => 'action edit') %>
        <%= link_to("Delete", delete_section_path(section), :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
  
</div>